h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

/* utilities */

/* generali */

.down{
    padding-top: 19px;
}

/* button */

.button-white{
    background-color: #fff;
    color: blue;
    cursor: pointer;
    border: 1px solid blue;
    
}

.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

/* li */

li{
    display: inline-block;
    margin-right: 10px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    
}

/* section navbar */

.header_main{
    padding-bottom: 90px;
    
}

.navbar-general{
    position: fixed;
    background-color: white;
    width: 100%;
}



.navbar-general .nav-brand img{
    width: 200px;
    padding: 20px 0;
}

.navbar-general .hamburger-menu{
    text-align: right;
}
    

.navbar-general i.ham{
    color: #3a8aff;
    font-size: 20px;
    margin-top: 30px;
    
}

.middle-menu{
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
}

.right-menu{
    text-align: right;
    font-size: 18px;
}

.middle-menu i,
.right-menu i{
    margin-left: 5px;
    font-size: 15px;
}

/* mediaquery per scomparsa hamburger */

@media screen and (min-width: 992px){
    
    .hamburger-menu {
        display: none;
    }

    .middle-menu,
    .right-menu{
        display: block;
    }
}

/* mediaquery per hamburger */

@media screen and (max-width: 992px){

    .hamburger-menu{
        display: block;
    }

    .middle-menu,
    .right-menu{
        display: none;
    }

}

/* section jumbotron */

.section_jumbotron{
    background-image: url('../img/bg-banner-home.jpg');
    background-repeat: no-repeat;
    
    

}



.box-jumbotron .box-jumbo-top h1{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    
}

.box-jumbotron .box-jumbo-top h4{
    color: #b8c9fe;
    font-size: 24px;
    
}

.jumbo-bottom{
    margin: 20px auto;
}

.jumbo-bottom .box-jumbo-bottom{
    background-color: #fff;
    text-align: center;
    border-radius: 2%;
    padding: 10px 10px;
    
    

    
}

.jumbo-bottom .box-jumbo-bottom p{
    font-size: 12px;
}
    

.box-jumbo-bottom h3{
    font-size: 30px;
}

.box-jumbo-bottom h3:last-of-type{
    color: blue;
    
}


.box-jumbo-bottom input{
    font-size: 20px;
    width: 96%;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid lightgray;
    margin: 10px 0;
}


.btn.create-account{
    background-color:#579aff;
    cursor: pointer;
    border: 1px solid #579aff;
    color: white;
    font-size: 14px;
    width: 96%;
    font-weight:bold;
}

.btn.create-signup{
    position: relative;
    background-color:white;
    cursor: pointer;
    border: 1px solid white;
    color:#626262;
    font-size: 14px;
    width: 96%;
    font-weight:bold;
    margin: 10px 0;
    box-shadow: 2px 2px #e3e3e3;
    
}

.btn.create-signup img{
    width: 20px;
    position: absolute;
    right: 94%;
    top: 24%;
}

/* section loghi */

.section_loghi{
    background-color: #f3f5f9;
}

.section_loghi .title{
    text-align: center;
    color: #6f7b97;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 12px;
}

.section_loghi .log li{
    margin: 10px 0;
    
}
    

/* media screen loghi */

@media screen and (min-width: 414px){

       
    .section_loghi .log li{
        display: inline-block;
        margin-left: 15px;
        float: none;
        width: 13%;
        padding-left: 20px;
        vertical-align: middle;
        
    }
    .section_loghi .log img{
        width: 100px;
        
    }
}





@media screen and (min-width: 992px){

       
    .section_loghi .log li{
        display: inline-block;
        margin-left: 10px;
        float: none;
        width: 13%;
        padding-left: 60px;
        vertical-align: middle;
        




    }
    .section_loghi .log img{
        width: 140px;
    }
}


.bottom-script{
    text-align: center;
}

.bottom-script a{
    text-decoration: none;
    color: #006aff;
    font-size: 20px;
}

.bottom-script i{
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 20px;
}



/* section sidebar */

.section_sidebar{
    background-color:#ffffff;
}

.section_sidebar .box-deploy-scale{
    text-align: center;
    margin: 85px 0;
}

.section_sidebar .box-deploy-scale h2{
    font-size: 33px;
}
.section_sidebar .box-deploy-scale h4{
    color: #6f7b97;
    font-size: 20px;
    padding: 10px 80px;

}
/* section choiche */

.section_choiche{
    background-color: #f3f5f9;
}


/* section features */

.section_features{
    background-color: #ffffff;
}

/* section services */

.section_services{
    background-color: #0044c3;
}

/* section choiche second */
.section_choiche_second{
    background-color: #f3f5f9;
}

/* section account */
.section_account{
    background-color: #0034ae;
}

/* footer part_footer */
.part_footer{
    background-color: #031c4e;
}


