h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

/* utilities */

/* generali */

.down{
    padding-top: 19px;
}

/* button */

.button-white{
    background-color: #fff;
    color: blue;
    cursor: pointer;
    border: 1px solid blue;
    
}

.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

/* li */

li{
    display: inline-block;
    margin-right: 10px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* section navbar */

.header_main{
    background-color:#ffffff;
    padding-bottom: 90px;
}

.navbar-general{
    position: fixed;
    
}



.navbar-general .nav-brand img{
    width: 200px;
    padding: 20px 0;
}

.navbar-general .hamburger-menu{
    text-align: right;
}
    

.navbar-general i.ham{
    color: #3a8aff;
    font-size: 20px;
    margin-top: 30px;
    
}

.middle-menu{
    margin-top: 10px;
}

.right-menu{
    text-align: right;
}

.middle-menu i,
.right-menu i{
    margin-left: 5px;
    font-size: 15px;
}

/* mediaquery per scomparsa hamburger */

@media screen and (min-width: 992px){
    
    .hamburger-menu {
        display: none;
    }

    .middle-menu,
    .right-menu{
        display: block;
    }
}

/* mediaquery per hamburger */

@media screen and (max-width: 992px){

    .hamburger-menu{
        display: block;
    }

    .middle-menu,
    .right-menu{
        display: none;
    }

}

/* section jumbotron */

.section_jumbotron{
    background-image: url('../img/bg-banner-home.jpg');
    height: 1000px;
    background-repeat: no-repeat;
    

}


.box-jumbotron{
    padding: 80px 0;

}

/* .box-jumbotron .box-jumbo-top{
    width: 464px;
} */

.box-jumbotron .box-jumbo-top h1{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    
}

.box-jumbotron .box-jumbo-top h4{
    color: #b8c9fe;
    font-size: 24px;
    
}

.jumbo-bottom{
    margin: 0 auto;
}

.jumbo-bottom .box-jumbo-bottom{
    height: 364px;
    background-color: #fff;
    text-align: center;
    border-radius: 2%;
    padding: 10px 10px;
    

    
}
    

.box-jumbo-bottom h3{
    font-size: 30px;
}

.box-jumbo-bottom h3:last-of-type{
    color: blue;
    
}


.box-jumbo-bottom input{
    font-size: 20px;
    width: 96%;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid lightgray;
    margin: 10px 0;
}


.btn.create-account{
    background-color:#579aff;
    cursor: pointer;
    border: 1px solid #579aff;
    color: white;
    font-size: 14px;
    width: 96%;
    font-weight:bold;
}

.btn.create-signup{
    background-color:white;
    cursor: pointer;
    border: 1px solid white;
    color:#626262;
    font-size: 14px;
    width: 96%;
    font-weight:bold;
    margin: 10px 0;
    box-shadow: 2px 2px #e3e3e3;
    
}

/* section luoghi */

.section_loghi{
    background-color: #f3f5f9;
}

/* section sidebar */

.section_sidebar{
    background-color:#ffffff;
}

/* section choiche */

.section_choiche{
    background-color: #f3f5f9;
}


/* section features */

.section_features{
    background-color: #ffffff;
}

/* section services */

.section_services{
    background-color: #0044c3;
}

/* section choiche second */
.section_choiche_second{
    background-color: #f3f5f9;
}

/* section account */
.section_account{
    background-color: #0034ae;
}

/* footer part_footer */
.part_footer{
    background-color: #031c4e;
}