h1,
h3,
h4,
h5,
p,
a{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}


/* utilities */

/* generali */

.down{
    padding-top: 19px;
}

h2{
    font-size: 33px;
    padding: 10px 0;
    font-family: 'Roboto Slab', serif;
}
    


/* button */

.button-white{
    background-color: #fff;
    color: blue;
    cursor: pointer;
    border: 1px solid blue;
    
}

.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

/* li */

li{
    display: inline-block;
    margin-right: 10px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    
}

/* section navbar */

.header_main{
    padding-bottom: 90px;
    
}

.navbar-general{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}



.navbar-general .nav-brand img{
    width: 200px;
    padding: 20px 0;
}

.navbar-general .hamburger-menu{
    text-align: right;
}
    

.navbar-general i.ham{
    color: #3a8aff;
    font-size: 20px;
    margin-top: 30px;
    
}

.middle-menu{
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
}

.right-menu{
    text-align: right;
    font-size: 16px;
}

.middle-menu i,
.right-menu i{
    margin-left: 5px;
    font-size: 15px;
}

/* mediaquery per scomparsa hamburger */

@media screen and (min-width: 992px){
    
    .hamburger-menu {
        display: none;
    }

    .middle-menu,
    .right-menu{
        display: block;
    }
}

/* mediaquery per hamburger */

@media screen and (max-width: 992px){

    .hamburger-menu{
        display: block;
    }

    .middle-menu,
    .right-menu{
        display: none;
    }

}

/* section jumbotron */

.section_jumbotron{
    background-image: url('../img/bg-banner-home.jpg');
    background-repeat: repeat;
    
    

}



.box-jumbotron .box-jumbo-top h1{
    color: white;
    font-size: 40px;
    margin: 25px 0;
    
}

.box-jumbotron .box-jumbo-top h4{
    color: #b8c9fe;
    font-size: 24px;
    padding-bottom: 30px;
    
}

.section_jumbotron .jumbo-bottom{
    margin: 20px auto;
}

.jumbo-bottom .box-jumbo-bottom{
    background-color: #fff;
    text-align: center;
    border-radius: 2%;
    padding: 10px 10px;
    
    
    
    

    
}

.jumbo-bottom .box-jumbo-bottom p{
    font-size: 12px;
}
    

.box-jumbo-bottom h3{
    font-size: 30px;
}

.box-jumbo-bottom h3:last-of-type{
    color: blue;
    
}


.box-jumbo-bottom input{
    font-size: 20px;
    width: 96%;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid lightgray;
    margin: 10px 0;
}


.btn.create-account{
    background-color:#579aff;
    cursor: pointer;
    border: 1px solid #579aff;
    color: white;
    font-size: 14px;
    width: 96%;
    font-weight:bold;
}

.btn.create-signup{
    position: relative;
    background-color:white;
    cursor: pointer;
    border: 1px solid white;
    color:#626262;
    font-size: 14px;
    width: 96%;
    font-weight:bold;
    margin: 10px 0;
    box-shadow: 2px 2px #e3e3e3;
    
}

.btn.create-signup img{
    width: 20px;
    position: absolute;
    right: 94%;
    top: 24%;
}

/* section loghi */

.section_loghi{
    background-color: #f3f5f9;
}

.section_loghi .title{
    text-align: center;
    color: #6f7b97;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 12px;
}

.section_loghi .log li{
    margin: 10px 0;
    
}



    

/* media screen loghi */

@media screen and (min-width: 414px){

       
    .section_loghi .log li{
        display: inline-block;
        margin-left: 15px;
        float: none;
        width: 13%;
        padding-left: 20px;
        vertical-align: middle;
        
    }
    .section_loghi .log img{
        width: 100px;
        
    }
}





@media screen and (min-width: 992px){

       
    .section_loghi .log li{
        display: inline-block;
        margin-left: 10px;
        float: none;
        width: 13%;
        padding-left: 60px;
        vertical-align: middle;
    }
        




    .section_loghi .log img{
        width: 140px;
    }
}


.bottom-script{
    text-align: center;
}

.bottom-script a{
    text-decoration: none;
    color: #006aff;
    font-size: 15px;
    margin-bottom: 13px;
    display: inline-block;
}

.bottom-script i{
    vertical-align: middle;
    margin-left: 10px;
    
}



/* section sidebar */

.section_sidebar{
    background-color:white;
    
}

.box-deploy-scale{
    text-align: center;
    margin: 85px 0;
}


.section_sidebar .box-deploy-scale p{
    color: #6f7b97;
    font-size: 20px;
    padding: 10px 35px;

}

  

    


.section_sidebar .sidebar-box ul{
    position: relative;
    margin-left: 40%;
    
}

.section_sidebar .sidebar-box ul::before{
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #75809a;
    
}
    

/* media query */
@media screen and (max-width: 767px){


    .section_sidebar .sidebar-box ul{
        margin-left: 30px;
        
        
    }

}
    
.section_sidebar .sidebar-box .sidebar li{
    display: block;
    margin:20px 0;
    list-style: none;
    

}

.section_sidebar .sidebar-box .sidebar h4{
    color: #75809a;
    font-size: 20px;
}

.section_sidebar .sidebar-box .box-content{
    margin-top: 5px;
    height: 200px;
    margin-bottom: 10px;
    
    
}

.section_sidebar .sidebar-box .box-content h4{
    margin: 10px 0;
    font-size: 18px;
}

.section_sidebar .sidebar-box .box-content p{
    font-size: 15px;
    
}

/* section choiche */

.section_choiche{
    background-color: #f3f5f9;
}

.content-text-slide{
    text-align: center;
    padding: 40px 0;
    
}
    

.content-text-slide p{
    color: #6f7b97;
    font-size: 20px;
    padding: 10px 35px;

}
.content-slide{
    margin: 0 auto;
    width: 55%;
    text-align: center;
    
}

.section_choiche .content-slide img{
    width: 100%;
}



.section_choiche .content-slide p{
    margin-top: 10px;
}

.content-slide i{
    margin: 84px 0;
    font-size: 12px;
    color: blue;
    
}


.content-slide .check{
    color: blue;
}

/* media query */


@media screen and (min-width: 767px){

    
    
    .section_choiche .content-slide{
        position: relative;
    
    }
    
    
    .section_choiche .content-slide::before{
        border-style: solid;
        border-width: 8px 8px 0 0;
        content: '';
        display: inline-block;
        height: 18px;
        right: 100%;
        top: 30%;
        position: absolute;
        transform: rotate(-135deg);
        vertical-align: top;
        width: 18px;
        color: gray;
        border-radius: 10%;
    

        
    }
    
    .section_choiche .content-slide::after{
        border-style: solid;
        border-width: 8px 8px 0px 0;
        content: '';
        display: inline-block;
        height: 18px;
        left: 100%;
        position: absolute;
        top: 30%;
        transform: rotate(45deg);
        vertical-align: top;
        width: 18px;
        color: blue;
        border-radius: 10%;






    }

    .section_choiche_second .rockerbox{
        position: relative;



    }
    .section_choiche_second .rockerbox::before{
        border-style: solid;
        border-width: 8px 8px 0 0;
        content: '';
        display: inline-block;
        height: 18px;
        right: 100%;
        top: 50%;
        position: absolute;
        transform: rotate(-135deg);
        vertical-align: top;
        width: 18px;
        color: gray;
        border-radius: 10%;
    }
    .section_choiche_second .rockerbox::after{
        border-style: solid;
        border-width: 8px 8px 0px 0;
        content: '';
        display: inline-block;
        height: 18px;
        left: 100%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        vertical-align: top;
        width: 18px;
        color: blue;
        border-radius: 10%;

    }
}
    
    



/* section features */

.section_features{
    background-color: #ffffff;
}

.section_features .box-content{
    margin-bottom: 10px;
    height: 180px;
    
    
}

.section_features .box-content:last-of-type{
    margin-bottom: 120px;
}

.section_features .box-content h4{
    margin: 10px 0;
    font-size: 18px;
}

.section_features .box-content p{
    font-size: 15px;
    color: #5c6a88;
    margin-bottom: 10px;
    
}

.section_features .box-content a{
    color: blue;
    text-decoration: none;
    display: inline-block;
    
    

}

.section_features .box-content .flow{
    vertical-align: middle;
    margin-left: 10px;
}


/* section services */

.section_services{
    background-image: linear-gradient(#0047c5, #0043c1);
    text-align: center;
}


.section_services .title_service h2{
    color: white;
    padding-top: 90px;
}

.section_services .box_city{
    margin: 20px 0;
}

.section_services .box_city li:not(:last-of-type){
    border-bottom: 1px solid white;

}

.section_services .box_city li{
    display: block;
}

.section_services .box_city h5,
.section_services .box_city p,
.section_services .box_city a{
    display: inline-block;
    margin: 10px 0;
    font-size: 13px;
    color: white;
}


.section_services .box_city h5{
    width: 23%;
}

.section_services .box_city p{
    width: 48%;
    text-align: left;
}

.section_services .box_city a{
    width: 23%;
}


.section_services .box_city a{
    color: #00d5d1;
}




/* section choiche second */
.section_choiche_second{
    background-color: #f3f5f9;
}


.section_choiche_second .rockerbox{
    background-color: white;
    border-radius: 2%;
}
.section_choiche_second .rockerbox img{
    width: 50%;
    padding-top: 40px;
}

.section_choiche_second .rockerbox a{
    color: blue;
    text-decoration: none;

}

.section_choiche_second .rockerbox .flow{
    vertical-align: middle;
    margin-left: 10px;
}

.section_choiche_second .rockerbox p{
    color: #6f7b97;
    font-size: 20px;
    padding: 10px 35px; 
    margin: 10px 0;
    
}


/* section account */
.section_account{
    background-color: #0034ae;
    text-align: center;
}

.section_account h2{
    color: white;
    padding-top: 90px;
    padding-bottom: 20px;
}

.section_account .btn.button-white{
    padding: 15px 24px;
    margin-bottom: 60px;
}

/* footer part_footer */
.part_footer{
    background-color: #031c4e;
    
}


.part_footer .final-logo{
    color: #5a6887;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 17px;
}

.part_footer .final-logo p:first-of-type{
    color: #737f99;
    font-size: 19px;
}

.part_footer .final-logo i:not(.cop){
    margin-top: 10px;
    font-size: 25px;
    margin-right: 10px;
}

.part_footer .foot-li{
    display: block;
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    color: #5a6887;
}
   
    

.part_footer .foot-li h3{
    font-size: 20px;
    color: white;
}

/* media query */
@media screen and (min-width: 769px){


    .final-logo{
        padding-left: 72px;
        
        
    }

}














    
    


