h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

/* utilities */

/* generali */

/* button */

/* li */

/* section navbar */

/* section jumbotron */

/* section luoghi */

/* section sidebar */

/* section choiche */


/* section features */

/* section services */


/* section choiche second */

/* section account */


/* footer part_footer */